<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Railmaithri"
        android:usesCleartextTraffic="false"
        tools:targetApi="31">
        <activity
            android:name=".RunOver"
            android:exported="false" />
        <activity
            android:name=".ViewTask"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".TaskList"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".IncidentReport"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Labour"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".ShopAndLabours"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".WatchZone"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".BeatDiary"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".RailMaithriMeeting"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Chat"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".RailVolunteer"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".SurakshaSamithiMember"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".CrimeMemo"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".UnauthorizedPerson"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".POI"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".EmergencyContact"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".ReliablePerson"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".AbandonedProperty"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".LostProperty"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".IntelligenceInformation"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".SavedData"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".SearchData"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".StrangerCheck"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".PassengerStatistics"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Home"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.TrackingService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />
        <service
            android:name=".services.FirebaseMessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver android:name=".GeofenceBroadcastReceiver"/>
    </application>

</manifest>